body  {
    margin : none;
    background-color: #ccccff;
    padding: none;
    box-sizing: border-box;
    
    
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-6 {
    width: 50%;
/*    padding: 25px;*/
}

.box1 {
    border: 2px solid black;
    border-radius: 5px;
    width:300px;
    height: 200px;
    margin: 25px;
    margin-left: 30%;
    padding: 15px;
    
}
h2 {
    margin:5px;
    margin-left: 40%;
}

hr {
    border-bottom: none;
    border-top: 2px solid grey;
    margin-left: 25px;
    margin-right: 25px;
}
img {
    margin-left: 25px;
}
res {
    width: 50px;
    height: 30px;
}
